.selectbox {
	vertical-align: middle;
  cursor: pointer;
}
.selectbox .select {
  width: 111px;
  height: 22px;
  padding: 0 26px 0 10px;
  font-size: 12px;
  line-height: 19px;
  color: #fff;

  border: 1px solid #ccc;
  border-bottom-color: #b3b3b3;
}
.selectbox .select:active {
	background: #f5f5f5;
  box-shadow: inset 0px 1px 4px rgba(0,0,0,0.1);
}
.selectbox.focused .select {
  border: 1px solid #5794BF;
}
.selectbox .select .text {
	display: block;
    width: 100%;
    margin-top: 1px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.selectbox .trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 26px;
	height: 100%;
    background: url(/i/select-arr.png) no-repeat 50% 50%;
}
.selectbox:hover .arrow {
	opacity: 1;
	filter: alpha(opacity=100);
}
.selectbox ul.dropdown {
	top: 26px;
  width: 147px;
	margin: 0;
  border: 1px solid #C6CBD0;
  font-size: 12px;
  line-height: 16px;
  background: #000;
}
.selectbox li {
	padding: 1px 7px 1px;
	color: #fff;
}
.selectbox li:hover,
.selectbox li.selected {
	background: #F9A728;
	color: #FFF;
}
.selectbox li.disabled {
	color: #AAA;
}
.selectbox li.disabled:hover {
	background: none;
}