/*------------------------------------------------------------------
BOILERPLATE RESET-----------------------------------------------------------*/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

a { color: #00e; text-decoration: none; }
a:visited { }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

b, strong { font-weight: bold; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }


 /*------------------------------------------------------------------
 DK STYLES-----------------------------------------------------------*/


/*---------UNIVERSAL CLASSES----------*/


/*---------TAGS----------*/
body {
	background-color:#000028;
	color: #FFF;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;	
}

span.hide {
	display: none;
}

hr {
    background-color: #000028;
    border-width: 0;
    color: #000028;
    float: left;
    height: 1px;
    position: relative;
    width: 100%;
}

a, a:link, a:visited {
	text-decoration: none;
	-webkit-transition: all 75ms linear;
	-moz-transition: all 75ms linear;
	-ms-transition: all 75ms linear;
    -o-transition: all 75ms linear;
	transition: all 75ms linear;
}

a:hover {
     text-decoration: none;
}

a:active {
     opacity: .5;
}

table {
    float: left;
    position: relative;
}

td {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */	
}


/*---------MAIN-NAV----------*/

#main-nav {
    background-color: #000028;
    border-top: 1px solid #FFFFFF;
    left: 0;
    padding-left: 15px;
    position: fixed;
    top: 30px;
    width: 130px;
}

#main-nav #logo h1 a {
    background: url("../img/logo.gif"/*tpa=/documents/2012annual-report/img/logo.gif*/) no-repeat scroll left top #000028;
    display: block;
    height: 60px;
    margin-left: -15px;
    width: 145px;
}

#main-nav #homepageNav a {
    background-color: #EBF26B;
    color: #000028;
    float: left;
    font: bold 11px/11px 'Arimo','helvetica neue',Helvetica,Arial,Geneva,sans-serif;
    margin-left: -15px;
    padding: 15px 15px 3px 15px;
    text-transform: uppercase;
    width: 115px;
}

#main-nav #navi {
    background-color: #EBF26B;
    color: #000028;
    float: left;
    font: bold 11px/11px 'Arimo','helvetica neue',Helvetica,Arial,Geneva,sans-serif;
    margin-left: -15px;
    padding: 0px 15px 15px;
    text-transform: uppercase;
    width: 115px;
}

#main-nav #navi h3 {
    cursor: pointer;
    font: bold 11px/11px 'Arimo','helvetica neue',Helvetica,Arial,Geneva,sans-serif;
    padding: 10px 0 5px;
    text-transform: uppercase;
}

#main-nav #navi h3:hover, #main-nav #homepageNav a:hover {
	color: #FF1D25;
}

#main-nav #navi ul {
	margin: 0;
	padding: 0;
}

#main-nav #navi a li {
    color: #000028;
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 5px 0 3px 6px;
    position: relative;
    text-transform: capitalize;
    width: 100%;
}

#main-nav #navi a:hover li {
	background-color: #ffffff;
}

 
/*---------CONTAINER----------*/

div#container-wrap {
    margin: auto;
    padding-left: 175px;
    position: relative;
    width: 785px;
}

/*NOT FIXED
div#container {
    background: url("../img/blue_95.png") repeat scroll left top transparent;
    color: #000028;
    float: left;
    font: bold 1em/1.5em Helvetica,Arial,Geneva,sans-serif;
    margin: auto auto 90px;
    position: relative;
    top: 30px;
    width: 755px;
}
*/

body.interior div#container {
    background: url("../img/blue_95.png"/*tpa=/documents/2012annual-report/img/blue_95.png*/) repeat scroll left top transparent;
    color: #000028;
    float: left;
    font: bold 1em/1.5em 'Arimo','helvetica neue',Helvetica,Arial,Geneva,sans-serif;
    height: 83%;
    margin: auto auto 90px;
    overflow: hidden;
    position: fixed;
    top: 30px;
    width: 755px;
}

/*SCROLL FIX
div#interior-sidebar {
    float: left;
    font: bold 11px/11px Helvetica,Arial,Geneva,sans-serif;
    height: 98.3%;
    margin-top: 12px;
    padding-left: 11px;
    padding-right: 15px;
    position: relative;
    text-transform: uppercase;
    width: 110px;
}*/

div#interior-sidebar {
    float: left;
    font: bold 11px/11px 'Arimo','helvetica neue', Helvetica, Arial,Geneva,sans-serif;
    height: 100%;
    padding-top: 12px;
    padding-left: 11px;
    padding-right: 15px;
    position: fixed;
    text-transform: uppercase;
    width: 110px;
}
	
div#interior-nav {
    float: left;
    height: auto;
    margin-bottom: 18px;
    position: relative;
}

h3.interior-page-title {
    border-bottom: 3px solid;
    font: 600 14px/13px 'Arimo','helvetica neue',Helvetica,Arial,Geneva,sans-serif;
    margin-bottom: 12px;
    margin-left: 6px;
    min-height: 26px;
    padding-bottom: 7px;
    text-transform: uppercase;
}

body.admin h3.interior-page-title,
body.rep h3.interior-page-title {
	font-size: 12px;
	padding-bottom: 8px;
}

h3.interior-subtitle {
	border-bottom-width:1px;
}

div#interior-sidebar ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

/* WITH MARGIN
ul#pageNav li a, 
div#interior-nav-foot ul li a {
    color: #000028;
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 5px 6px 3px;
    position: relative;
    text-transform: capitalize;
    width: 98px;
} */

ul#pageNav li a, 
div#interior-nav-foot ul li a {
    color: #000028;
    display: block;
    list-style: none outside none;
    margin: 0 0 0 6px;
    padding: 5px 0 3px;
    position: relative;
    text-transform: capitalize;
    width: 105px;
}

div#interior-nav-foot ul li a {
	/*padding-left:0px;*/
    color: #FFFFFF;
    margin-left: 0;
}

ul#pageNav li a:hover {
	background-color: #ffffff;
}

div#interior-nav-foot ul li a:hover {
	background-color: #349f94;
}

ul#pageNav li.current {
	
}

div#interior-nav-foot {
    border-top: 1px solid;
    float: left;
    margin-left: 6px;
    margin-top: 18px;
    padding-top: 9px;
    position: relative;
    width: 104px;
}

div#interior-nav-foot ul {
	
}

div#interior-nav-foot ul li {
	
}

/* WITHOUT SCROLL
div#interior-content {
    border-left: 1px solid #2F767D;
    float: left;
    margin-top: 12px;
    padding-left: 15px;
    position: relative;
    width: 535px;
}
*/

/*scroll fix?
div#interior-content {
    border-left: 1px solid #2F767D;
    float: left;
    height: 101%;
    margin-top: 12px;
    overflow: scroll;
    padding-left: 15px;
    padding-right: 68px;
    position: relative;
    width: 535px;
}
*/

#interior-space {
	height: 24px;
	width: 100%;
	float: left;
	position: relative;	
}

div#interior-content {
    height: 100%;
    left: 137px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 15px;
    padding-right: 68px;
    position: absolute;
    width: 535px;
	border-left: 1px solid #2F767D;
}

div#interior-content a {
	font-weight: bold;
	color: #000028;
	text-decoration: none;
}

div#interior-content a:hover {
	color: #FF1D25;
}

body.interior div#interior-content .section {
    margin-bottom: 15px;
}

body.interior div#interior-content div.section-break {
    height: 45px;
}

div#interior-content .intro-type span {
    color: #FFFFFF;
    float: left;
    font: 400 20px/23px 'Arimo','Helvetica Neue',Helvetica,Arial,Geneva,sans-serif;
    margin-bottom: -23px;
    margin-top: 40px;
    position: relative;
}

body.interior div#interior-content div.interior-body h3 {
    border-top: 3px solid;
    clear: both;
    display: block;
    float: left;
    font: 600 15px/18px 'Arimo','helvetica neue',Helvetica,Arial,Geneva,sans-serif;
    letter-spacing: 0.035em;
    margin-bottom: 12px;
    padding-top: 8px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}

body.interior div#interior-content h4 {
    clear: both;
    display: block;
    float: left;
    font: 600 12px/14px 'Arimo','helvetica neue',Helvetica,Arial,Geneva,sans-serif;
    letter-spacing: 0.035em;
    margin-top: 10px;
    position: relative;
    text-transform: uppercase;
}

body.interior div#interior-content div.interior-body p {
    float: left;
    font: 400 13px/15px 'Arimo','helvetica neue','Signika Negative',Helvetica,Arial,Geneva,sans-serif;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}

body.interior div#interior-content div.interior-body p.number {
    border-top: 1px solid;
    clear: left;
    font-weight: bold;
    margin-top: -3px;
    padding-top: 2px;
    text-align: right;
    width: 30px;
}


body.interior div#interior-content div.interior-body p.list {
    clear: right;
    margin-left: 8px;
    width: 482px;
}

body.interior div#interior-content ol {
    float: left;
    list-style: upper-alpha outside none;
    margin: 0 0 15px;
    padding: 0 0 0 63px;
    position: relative;
}

body.interior div#interior-content ol li {
    float: left;
    margin-bottom: 15px;
    position: relative;
}

body.interior div#interior-content ol li span {
	font-weight: normal;
}

p.breakaway,
div.breakaway {
    border-top: 1px solid;
    margin-top: 8px;
    padding-top: 15px;
}

.footnote p {
    font-size: 10px !important;
    line-height: 12px !important;
    margin-bottom: 6px !important;
}

body.interior div#interior-content div.interior-body .breakaway.footnote p.list {
}

body.interior div#interior-content div.interior-body .breakaway.footnote p.number {
	border: none;
	width: 8px;
}

body.interior div#interior-content div {
    float: left;
    position: relative;
    width: 100%;
}

a.return-top {
    display: block;
    margin-bottom: 15px;
    padding: 6px 0;
    width: 100%;
	border-top: 3px solid;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------INFOGRAPHICS--------------*/

div.infographic {
	display: block;
	float: left;
	width: 100%;
	height: 500px;
}

.infographic ul, .infographic li {list-style: none; text-indent: -999999px; margin:0; padding: 0; text-decoration: none;}

.mediation .infographic      {background: url("../img/02-mda/mediation-cases.gif"/*tpa=/documents/2012annual-report/img/02-mda/mediation-cases.gif*/) top left no-repeat;}
.mediation .adr-cases        {background: url("../img/02-mda/adr-cases.gif"/*tpa=/documents/2012annual-report/img/02-mda/adr-cases.gif*/) top left no-repeat;}
.arbitration .infographic    {background: url("../img/02-mda/arbitration-cases.gif"/*tpa=/documents/2012annual-report/img/02-mda/arbitration-cases.gif*/) top left no-repeat;}
.representation .infographic {background: url("../img/03-rep/rep-cases.gif"/*tpa=/documents/2012annual-report/img/03-rep/rep-cases.gif*/) top left no-repeat;}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------ SIGNATURES --------------*/
body.interior div#interior-content div.interior-body .signature {
    float: left;
    height: 62px;
    margin-bottom: 15px;
    margin-top: 5px;
    position: relative;
    text-indent: -999px;
    width: 100%;
}

body.about div.signature-hoglander {
    background: url("../img/01-about/signature-hoglander.gif"/*tpa=/documents/2012annual-report/img/01-about/signature-hoglander.gif*/) no-repeat scroll left 2px transparent;
}

body.cfoletter div.signature-king {
    background: url("../img/03-rep/signature-king.gif"/*tpa=/documents/2012annual-report/img/03-rep/signature-king.gif*/) no-repeat scroll left 0px transparent;
}

body.mda div.signature-rainey {
    background: url("../img/01-about/signature-rainey.gif"/*tpa=/documents/2012annual-report/img/01-about/signature-rainey.gif*/) no-repeat scroll left 2px transparent;
}



/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------STRUCTURE PAGE--------------*/

body.structure div#interior-content table tbody tr td {
	padding-right: 5px;
	position: relative;
}

body.structure div#interior-content table.table-graph {
    margin-bottom: 15px;
    margin-left: -1px;
    margin-top: -3px;
}

body.structure div#interior-content table tbody tr td p,
body.structure div#interior-content table tbody tr td h4 {
	font-size: 12px !important;
	line-height: 12px !important;
	margin-bottom: 9px !important;
}

body.structure div#interior-content table tbody tr td p.smallname {
	font-size: 10px!important;
}


body.structure div#container-wrap div#container div#interior-content div.interior-body table#structure_table1 tbody tr#row1.title td h4{
	overflow: visible;
	white-space:nowrap;
	width:115px;
	position:relative; 
	float:left;
}

body.structure table tbody tr td p strong.title {
	text-transform: uppercase;
	font-size: 10px;
}

body.structure table tbody tr td p.smallname strong.title {
	font-size: 9px;
}


body.structure table {
    margin-left: -6px;
}

table.table-graph td {
    border-color: #2F767D !important;
    display: block;
    float: left;
    height: 18px;
    margin-left: -1px;
    width: 132px;
}

body.structure td {
	padding-left: 4px;
}

table.table-graph tr {
    border-color: #2F767D;
    display: block;
    float: left;
    margin-top: -1px;
    padding-top: 0;
    position: relative;
    width: 545px;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------MEMBERS PAGE--------------*/
body.board div#interior-content div.board {
    border-top: 1px solid #2F767D;
    margin-bottom: 15px;
}

body.board div#interior-content div.board hr {
    margin-bottom: 0;
    margin-left: -15px;
    margin-top: 0;
    width: 535px;
    color: #2F767D;
    background-color: #2F767D;
}

body.board div#interior-content div.board-pic {
    padding-right: 15px;
    width: 110px;
    padding-top: 0px;
}

body.board div#interior-content div.board-pic img {
    border-bottom: 1px solid #2F767D;
    height: auto;
    margin-bottom: 8px;
    width: 100%;
}

body.board div#interior-content div.board-pic h4 small {
	text-transform: capitalize;
}

body.board div#interior-content div.board-text {
    border-left: 1px solid #2F767D;
    padding-left: 15px;
    width: 375px;
    padding-top: 12px;
    padding-bottom: 15px;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------REGISTRY PAGE--------------*/
body.interior.registry div#interior-content div.interior-body p {
    margin-bottom: 4px;
    padding-top: 4px;
}

body.interior.registry tr.row {
	border-top: 1px solid #2F767D;
	display: relative;
	float: left;
}

body.interior.registry tr.row td.name {
    text-align: left;
    width: 231px;
}

body.interior.registry tr.row td {
    float: left;
    text-align: right;
    width: 95px;
}

body.interior.registry div#interior-content tr.row td h4 {
    float: none;
    padding-top: 2px;
    margin-bottom: 3px;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------MEDIATION PAGE--------------*/
body.mda div#interior-content h4 {
/*  border-bottom: 1px solid;	*/
    margin-bottom: 3px;
    margin-top: 10px;
/*  padding-bottom: 2px;	*/
    width: 100%;
}

body.online div#interior-content h4 {
/*  border-bottom: 1px solid;	*/
    margin-bottom: 3px;
    margin-top: 10px;
/*  padding-bottom: 2px;	*/
    width: 100%;

}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------MEDIATION PAGE--------------*/
body.performance div#interior-content h4 {
    border: medium none;
    margin-bottom: 15px;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------AUDIT PAGE--------------*/
body.interior div.interior-body ul.lines {
    list-style: none outside none;
    margin: 0 0 30px;
    padding: 0;
}

body.interior div.interior-body ul.lines li {
    display: block;
    float: left;
    position: relative;
    width: 100%;
}

body.interior div.interior-body ul.lines li a {
    border-top: 1px solid;
    display: block;
    float: left;
    padding-bottom: 4px;
    padding-top: 8px;
    position: relative;
    width: 100%;
    padding-left: 10px;
}

body.interior div.interior-body ul.lines li a:hover {
	background-color: #2F767D;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------GLOSSARY PAGE--------------*/

body.glossary div.interior-body ul li {
	font-weight: normal;
}

body.glossary div.interior-body ul li strong{
	text-transform: uppercase; font-weight: bold;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*---------FOOTER----------*/
#footer {
	color: #000028;
	font: bold 11px/11px Helvetica, Arial, Geneva, sans-serif;
    background-color: #5AE5CE;
    bottom: 0;
    min-height: 28px;
    position: fixed;
    width: 100%;
    text-transform: uppercase;
    min-width: 960px;
}

#footer-left {
    float: left;
    margin-left: 20px;
    padding-bottom: 8px;
    padding-top: 9px;
}

#footer-right {
	float: right;
	margin-right: 20px;
}

#footer h4 {
	color: #000028;
	font: bold 11px/11px Helvetica, Arial, Geneva, sans-serif;
	display: inline-block;
	margin: 0;
}

#footer h4 a {
    color: #000028;
    display: block;
    padding: 9px 5px 8px;
}

#footer a:hover {
	color: #FFF;
}


/*---------BACKGROUND MAP----------*/

body.home #map, body.interior #map {
    background: url("../img/bg2.png"/*tpa=/documents/2012annual-report/img/bg2.png*/) repeat-x fixed center top #000028;
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -999999;
    min-width: 960px;
    margin: auto;
}

/*----------------------------------------------------------------------------*/
/*------------------------------------------------------------------
MEDIA QUERIES-----------------------------------------------------------*/

@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
}

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}