  body, html {overflow: visible;}
  
  #home_map {background: url("../img/00-home/home_base.png"/*tpa=/documents/2012annual-report/img/00-home/home_base.png*/) top left no-repeat #000028; width: 1920px; height: 1080px; position: absolute; top: 0; left: 0; z-index: -999999; overflow: hidden;}
  #buildingOver {position: absolute; top: 0; left: 0; z-index: 1012; display: block;}
  
  .buildingR0 {position: absolute; display: none;}
  
  #hoverLayer div {background: #f00; opacity: 0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=00)"; position: absolute; display: block; }
  .buildingR0_txt {width: 200px; display: block; position: absolute; list-style: none; margin: 0; padding: 0 0 15px 0; background: url("../img/blue_93.png"/*tpa=/documents/2012annual-report/img/blue_93.png*/); font-size: 11px; color: #000028; display: none;}
  .buildingR0_txt li {padding: 10px 10px 0 10px;}
  .buildingR0_txt li.first {border-top: 1px solid #fff; background: #000028; color: #fff; padding: 10px;}
  .buildingR0_txt h1 {text-transform: uppercase; font: bold 11px/11px 'Arimo','helvetica neue', Helvetica, Arial,Geneva,sans-serif;}
  
  .building_8 {top: 279px; left: 1044px; width: 118px; height: 187px; z-index: 9999;}
  .building_7 {top: 574px; left: 203px;  width: 233px; height: 245px; z-index: 9999;}
  .building_6 {top: 59px;  left: 1176px; width: 144px; height: 611px; z-index: 9999;}
  .building_5 {top: 0px;   left: 513px;  width: 502px; height: 338px; z-index: 9999;}
  .building_4 {top: 211px; left: 572px;  width: 230px; height: 290px; z-index: 9999;}
  .building_3 {top: 568px; left: 1089px; width: 209px; height: 512px; z-index: 9999;}
  .building_2 {top: 524px; left: 745px;  width: 144px; height: 180px; z-index: 9999;}
  .building_1 {top: 167px; left: 246px;  width: 295px; height: 245px; z-index: 9999;}
  
  #hideIMG {position: absolute; top:0; left:0; z-index: 9999; opacity: 0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=00)";}
  map {display: block; position: absolute;}
  area {z-index: 9999; background: #f00;}
  
  #building_8    {z-index: 1010; top: 279px; left: 1044px;}
  #building_8txt {z-index: 1010; top: 279px; left: 870px; z-index: 9998;}
  
  #building_7    {z-index: 1020; top: 532px; left: 203px;}
  #building_7txt {z-index: 1020; top: 531px; left: 375px; z-index: 9998;}
  
  #building_6    {z-index: 1030; top: 59px;  left: 1176px;}
  #building_6txt {z-index: 1030; top: 280px; left: 1000px; z-index: 9998;}

  #building_5    {z-index: 1040; top: 0px;   left: 513px;}
  #building_5txt {z-index: 1040; top: 0px;   left: 413px; z-index: 9998;}

  #building_4    {z-index: 1050; top: 211px; left: 572px;}
  #building_4txt {z-index: 1050; top: 411px; left: 658px; z-index: 9998;}

  #building_3    {z-index: 1060; bottom: 0;    left: 1070px;}
  #building_3txt {z-index: 1060; bottom: 350px; left: 870px; z-index: 9998;}

  #building_2    {z-index: 1010; top: 524px; left: 745px;}
  #building_2txt {z-index: 1010; top: 600px; left: 610px; z-index: 9998;}

  #building_1    {z-index: 1080; top: 167px; left: 246px;}
  #building_1txt {z-index: 1080; top: 310px; left: 153px; z-index: 9998;}
  
  #train {position: absolute; top: 994px; left: -178px; z-index: 1010;}
  #lights {position: absolute; top:0; left: 400px; z-index: 100;}